.header{
    
}

#logo{
    width: 200px;
    height: auto;
}

#titolo{
    font-weight: 900;
}

#autore{
    color: grey;
}

.small{
    color: grey;
    font-size: 12px;
}

.tabella{

}

.titoletti{
    text-align: left;
    background-color: #20A9E5;
    color: white;
}

#riga1{
    background-color: #B1E5F2;
}

#riga3{
    background-color: #B1E5F2;
}



