#pattern{
    background-color: #4EA0FF;
    width: 50%;
}

#logo{
    width: 200px;
    height: auto;
}

.container{
    width: 80%;
    margin: auto;
}

#titolo{
    font-weight: 900;
}

#autore{
    color: grey;
}

.small{
    color: grey;
    font-size: 12px;
}

#tabella{
    margin: 0;
}

.titoletti{
    text-align: left;
    background-color: #20A9E5;
    color: white;
}

#riga1{
    background-color: #B1E5F2;
}

#riga3{
    background-color: #B1E5F2;
}

#titolo-f{
    color: grey;
}

#monitor{
    display: block;
}

#titolo-f1{
    font-weight: 900;
}

#titolo-f2{
    font-weight: 900;
}



